.survey_bg {
    width: 100%;
    height: fit-content;
    float: right;
    margin-right: 0;
    margin-left: 0;
    background-color: #bcdeec;
    background-image: url(../pic/bgsurvey.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    border: none;
    padding-bottom: 55%;
}


.survey-panel {
    position: relative;
    background-color: transparent;
    min-height: 100vh;
    width: 100%;
    padding: 10px 14px;
}


.survey_form {
    width: 96%;
    /* min-width: 198px; */
    margin: 0 2% 33px 2%;
    position: relative;
    max-width: 100%;
    min-height: 120px;
    padding: 0;
    background-color: transparent !important;
    float: right;
    border: 1px solid #93bfc5;
}

.content_big_title.survey {
    text-align: center;
    font-size: 22px !important;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 2px !important;
}

.signature {
    padding-top: 24px !important;
    font-size: 22px;
    padding-bottom: 24px !important;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
    color: #414645;
    text-shadow: 1px 1px #ffffff;
    background-color: #93d3ed8a;
}

.survey-header {
    position: relative;
    width: 100%;
    float: left;
    margin: 0;
    background-color: #bcdeec !important;
    padding: 8px;
}

.survey.logo_company {
    height: auto !important;
    z-index: 999999;
    position: relative;
    background-color: transparent;
    width: 42px !important;
    margin-left: calc(50% - 21px);
}

.survey.titre_company {
    height: auto !important;
    z-index: 999999;
    position: relative;
    background-color: transparent;
    float: left;
    margin-left: calc(50% - 103px);
    width: 206px !important;
    padding-top: 0;
}

div#surveyintro {
    padding-bottom: 12px;
    font-size: 15px;
    margin-bottom: 7px;
    border-bottom: 1px solid #639ab1;
    line-height: 27px;
}

.content_form_bg.survey {
    min-height: auto;
}

label#label_save_form {
    font-size: 15px;
    font-weight: normal !important;
    padding: 8px;
    background-color: #ff6300;
    color: white;
    margin-top: 10px;
}

a.crm.suggestion.quick {
    margin-top: 15px;
    margin-left: 20% !important;
    margin-right: 20% !important;
    width: 60%;
    max-width: 320px !important;
    padding: 4px;
    font-size: 14px;
    background-color: #047e7a;
}

a.crm.suggestion.survey {
    background-color: #404040;
    color: white;
    margin-left: 20% !important;
    margin-right: 20% !important;
    width: 60%;
    max-width: 320px !important;
    padding: 4px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none !important;
}



@media screen and (max-width: 280px) {
    .titre_company {
        display: none;
        visibility: hidden;
        width: 0px !important;
        height: 0px !important;
    }
}

