.survey_bg {
    width: 100%;
    height: fit-content;
    float: right;
    margin-right: 0;
    margin-left: 0;
    background-color: #bcdeec;
    background-image: url(../pic/bgsurvey.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
    border: none;
    padding-bottom: 55%;
}


.survey-panel {
    position: relative;
    background-color: white;
    min-height: 100vh;
    width: 100%;
    padding: 10px 14px;
}


.survey_form {
    width: 96%;
    /* min-width: 198px; */
    margin: 0 2% 33px 2%;
    position: relative;
    max-width: 100%;
    min-height: 120px;
    padding: 0;
    background-color: transparent !important;
    float: right;
    border: 1px solid #93bfc5;
}

.content_big_title.survey {
    text-align: center;
}